{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project-4 Homepage</title>  
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col">
                {% if ticker %}
                    {{ ticker }}
                {% endif %}
    
                {% if api %}
                    {% if api == "Error..." %}
                        There was a problem with your ticker symbol, 
                        please try again...
                    {% else %}
                        <h1>{{ api.companyName }}</h1>
                        <br/>
                        Price: ${{ api.latestPrice }}<br/>
                        Previous Close: {{ api.previousClose }}<br/>
                        Market Cap: {{ api.marketCap }}<br/>
                        YTD Change: {{ api.ytdChange }}<br/>
                        52 Week High: {{ api.week52High }}<br/>
                        52 Week Low: {{ api.week52Low }}<br/>
                        <br/>
        
                    {% endif %}
                
                {% else %}
        
                {% endif %}
              </div>
              <div class="col">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Initial Amount</th>
                        <th scope="col">Current Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>$2000</td>
                        <td>TBD</td>
                      </tr>
        
                {% if api %}
                    {% if api.latestPrice %}
                        <a href = "{% url 'buy_stock' %}" class = "btn btn-success">Buy Stock</a>
                    {% else %}
        
                    {% endif %}
                {% endif %}
        
                {% if api %}
                    {% if api.latestPrice %}
                        <a href = "{% url 'sell_stock' %}" class = "btn btn-danger">Sell Stock</a>
                    {% else %}
        
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>


        {% comment %}
        {% for item in ticker %}
            {{ item }}<a href = "{% url 'delete' item.id %}">Delete Stock</a>
        {% endfor %}

        {% for key, value in api.items %}
                    {{ key }} : {{ value }}
                    <br/>
        {% endfor %}
        {% endcomment %}


        </body>
    </body>

{% endblock %}