{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project-4 Main page</title>  
    </head>
    <body>
        <br/>
        <div>
            <form action = "{%url 'main' %}" class="form-inline my-2 my-lg-0" method = "POST">
                {% csrf_token %}
              <input class="form-control mr-sm-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name = "ticker">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Stock Quote</button>
            </form>
        </div>
        <br/>
        <br/>
        <div>
            {% if ticker %}
                    {{ ticker }}
                {% endif %}
    
                {% if api %}
                    {% if api == "Error..." %}
                        There was a problem with your ticker symbol, 
                        please try again...
                    {% else %}
                        <h2>{{ api.companyName }}</h2>
                        <br/>
                        {% load humanize %}
                        Price: ${{ api.latestPrice|intcomma }}<br/>
                        Previous Close: ${{ api.previousClose|intcomma }}<br/>
                        Market Cap: ${{ api.marketCap|intcomma }}<br/>
                        YTD Change: {{ api.ytdChange }}<br/>
                        52 Week High: ${{ api.week52High|intcomma }}<br/>
                        52 Week Low: ${{ api.week52Low|intcomma }}<br/>
                        <br/>
        
                    {% endif %}
                
                {% else %}
        
                {% endif %}

{% endblock %}

