{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project-4 Registration Page</title>  
    </head>
    <body>

        {% load crispy_forms_tags %}
        <div class = "form-group">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </body>

{% endblock %}